[Unit]
Description=Manage redis container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none

ExecStartPre=-/bin/bash -c '/usr/bin/docker run -v /var/lib/redis --name %p-data busybox:latest true || /usr/bin/true'

ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p || /usr/bin/true'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p || /usr/bin/true'
ExecStartPre=-/bin/bash -c '/usr/bin/docker pull webhippie/redis:latest || /usr/bin/true'

ExecStart=/usr/bin/docker run --rm -p %i:6379 --volumes-from %p-data --name %p webhippie/redis:latest start
ExecStop=/usr/bin/docker kill %p
